.un{
    -webkit-text-fill-color: #000080;
}
.deux{
    -webkit-text-fill-color: white;
}
.trois{
    -webkit-text-fill-color: red;
}

.map_image path{
    fill: cyan;
    stroke: white;
    stroke-width: 1px;
    transition: fill 0.3s;
}
.map_image path:hover{
    fill: yellow;
}
.map_list a{
    text-decoration: none;
    transition: color 0.3s;
}
.view{
    max-height: 600px;
}
.map{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
}
.color{
    background: linear-gradient(90deg, #000080, white, red);
}
