{% extends 'base.html' %}
{% load static %}
{% block title %}Accueil{% endblock %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            {% if messages %}
                {% for message in messages %}
                    <div class="row justify-content-center">
                        <div class="position-absolute text-center alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <h1 class="mx-auto mt-5 text-uppercase"><span class="un">FR</span><span class="deux">AN</span><span class="trois">CE</span></h1>
            <h2 class="text-white mx-auto mt-2 mb-5">Découvrez la France en quelques clics</h2>
            <a class="btn btn-primary js-scroll-trigger" href="{% url 'maps:france' %}">Commencer</a>
        </div>
    </div>
</header>
<!--Images-->
<section class="projects-section" id="projects">
    <div class="container">
        <!--Image regions.png-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0 border border-black">
            <div class="col-lg-6"><img class="img-fluid" src='{% static "img/regions.png"%}' alt="Carte des régions" /></div>
            <div class="col-lg-6">
                <div class="bg-dark text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-light">Régions</h4>
                            <p class="mb-0 text-light">Découvrez les régions de la France métropolitaine</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Image departments.png-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0 border border-black">
            <div class="col-lg-6"><img class="img-fluid" src='{% static "img/departements.png" %}' alt="Carte des départements" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-dark text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-light">Départements</h4>
                            <p class="mb-0 text-light">Explorez les départements</p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Image commune.png-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0 border border-black">
            <div class="col-lg-6"><img class="img-fluid" src='{% static "img/commune.png"%}' alt="Carte de Montélimar" /></div>
            <div class="col-lg-6">
                <div class="bg-dark text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-light">Communes</h4>
                            <p class="mb-0 text-light">Retrouvez les communes de chaque départements</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup-->
<section class="bg-dark p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <h3 class="text-white mb-5">Créez un compte pour sauvegarder vos recherches</h3>
                <form class="form-inline d-flex">
                    <a class="btn btn-primary mx-auto" href="{% url 'users:register' %}">Créer un compte</a>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-dark">
    <div class="container">
        <div class="social d-flex justify-content-center">
            <a class="mx-2" target="_blank" href="https://trello.com/b/exMtG38m/projet-13"><i class="fab fa-trello"></i></a>
            <a class="mx-2" target="_blank" href="https://github.com/Tony380/Projet13"><i class="fab fa-github"></i></a>
        </div>
        <div class="justify-content-center">
            <p class="text-center mt-3 mb-0"><a class="text-decoration-none" href="{% url 'legal' %}">Mentions légales</a></p>
        </div>
    </div>
</section>
{% endblock %}
