{% extends 'base.html' %}
{% load static %}
{% block title %}Mentions légales{% endblock %}
{% block content %}
<section class="top section">
    <div class="container text-center">
        <h2 class="mb-4"><u>Informations générales</u></h2>
        <p>Conception : <a target="_blank" href="https://www.linkedin.com/in/tony-a-gonzalez/">Tony Gonzalez</a></p>
        <p>Thème Bootstrap utilisé : <a target="_blank" href="https://startbootstrap.com/template-overviews/grayscale/">Grayscale</a></p>
        <p>Photo de la page d'accueil : <a target="_blank" href="https://unsplash.com/@chriskaridis?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Chris Karidis</a> sur <a href="https://unsplash.com/s/photos/france?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>
        <p>Le favicon provient du site <a target="_blank" href="https://icon-icons.com/fr/recherche/icones/drapeau">icon-icons.com</a></p>
        <p>Hébergement du site : <a target="_blank" href="https://www.heroku.com/">Heroku</a></p>
        <p>Cartes de la France métropolitaine et des régions : <a target="_blank" href="https://www.amcharts.com/svg-maps/">amcharts.com</a></p>
        <p>Cartes des départements et des communes : <a target="_blank" href="https://cloud.google.com/maps-platform/?hl=fr">Google Maps API</a></p>
        <p>Tous les articles proviennent de <a target="_blank" href="https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal">Wikipédia</a></p>
    </div>
    <div class="container text-center">
        <h2 class="mb-4"><u>Information complémentaire</u></h2>
        <p class="mb-5">Ce site est un projet d'étude issu du projet 13 d'Openclassrooms</p>
    </div>
</section>
{% endblock %}