{% extends 'base.html' %}
{% load static %}
{% block title %}France Métropolitaine{% endblock %}
{% block content %}
<section class="top">
    <!--title-->
    <div class="container">
        <div class="row apropos bg-info text-white">
            <div class="col-12 text-center text-light">France Métropolitaine</div>
        </div>
    </div>
    <!--map-->
    <section class="container apropos">
        <div class="map row">
            <div class="map_image col-12">
                <svg class="view" xmlns="http://www.w3.org/2000/svg" xmlns:amcharts="http://amcharts.com/ammap" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="20 0 600 600">
                {% for region in regions %}
                    <a class="{{ region.class_name }}" xlink:title="{{ region.name }}" xlink:href="{% url 'maps:region' region_id=region.id %}"><path d="{{ region.coord }}"/></a>
                {% endfor %}
                </svg>
            </div>
        </div>
    </section>
    <!--title-->
    <div class="container mt-5">
        <div class="row apropos bg-info text-white">
            <div class="col-12 text-center">Les régions</div>
        </div>
    </div>
    <!--list of regions-->
    <section class="container apropos">
        <div class="map_list row pt-2">
            {% for region in regions %}
            <div class="col-6 text-center">
                <p><a class="change {{ region.class_name }}" href="{% url 'maps:region' region_id=region.id %}">{{ region.name }}</a></p>
            </div>
            {% endfor %}
        </div>
    </section>
    <!--Wikipedia-->
    <section>
        <div class="container p-5 my-5 apropos">
            <div class="col-12 font-weight-bold underline">
                <p>A propos</p>
            </div>
            <div class="col-12">
                <p>{{ wiki }}</p>
            </div>
            <div class="col-12">
                <p class="font-weight-bold">Pour en savoir plus : <a target="_blank" href="{{ wi }}">Wikipédia</a></p>
            </div>
        </div>
    </section>
</section>
{% endblock %}