{% extends 'base.html' %}
{% load static %}
{% block title %}{{ region.name }}{% endblock %}
{% block content %}
<section class="section top mb-5">
    {% if messages %}
        {% for message in messages %}
            <div class="row justify-content-center">
                <div class="position-absolute text-center alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <!--title-->
    <div class="container mt-5">
        <div class="row apropos bg-info text-white">
            <div class="col-12 text-center">{{ region.name }}</div>
        </div>
    </div>
    <section class="container apropos">
        <div class="map row view">
            <div class="map_image col-12">
                <svg class="" xmlns="http://www.w3.org/2000/svg" xmlns:amcharts="http://amcharts.com/ammap" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="{{ region.viewbox }}">
                {% for dept in depts %}
                    <a class="{{ dept.class_name }}" xlink:title="{{ dept.name }}" xlink:href="{% url 'maps:department' department_id=dept.id %}"><path d="{{ dept.coord }}"/></a>
                {% endfor %}
                </svg>
            </div>
        </div>
    </section>
    <!--title-->
    <div class="container mt-5">
        <div class="row apropos bg-info text-white">
            <div class="col-12 text-center">Les départements</div>
        </div>
    </div>
    <!--list of regions-->
    <section class="container apropos">
        <div class="map_list row px-2 py-4">
            {% for dept in depts %}
            <div class="col-6 text-center">
                <p><a class="change {{ dept.class_name }}" href="{% url 'maps:department' department_id=dept.id %}">{{ dept.name }}</a></p>
            </div>
            {% endfor %}
        </div>
    </section>
    <!--Wikipedia-->
    <section>
        <div class="container p-5 my-5 apropos">
            <div class="row">
                <div class="col-12 font-weight-bold underline">
                    <p>A propos</p>
                </div>
                <div class="col-12">
                    <p>{{ wiki_summary }}</p>
                </div>
                <div class="col-12">
                    <p class="font-weight-bold">Pour en savoir plus : <a target="_blank" href="{{ wiki_url }}">Wikipédia</a></p>
                </div>
                {% if user.is_authenticated %}
                <div class="col-12">
                    <a class="btn btn-primary p-2" href="{% url 'maps:save' title=title %}" role="button">Sauvegarder cet article</a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</section>
{% endblock %}
