{% extends 'base.html' %}
{% load static %}
{% block title %}Modification du mot de passe{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<section class="top section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <form method="post" class="bg-light p-3 rounded border border-black">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary p-2">Valider</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}