{% extends 'base.html' %}
{% load static %}
{% block title %}Page de profil{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<section class="top section">
    {% if messages %}
        {% for message in messages %}
            <div class="row justify-content-center">
                <div class="position-absolute text-center alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container pt-5">
        <div class="row mt-5">
            <div class="col-lg-3 col-md-1 col-sm-12 text-center m-auto">
                <img src="{{ user.profile.image.url }}" class="rounded-circle">
            </div>
            <div class="col-lg-5 col-md-6 text-light m-auto">
                <div class="profile p-2 rounded">
                    <p>Nom d'utilisateur : {{ user.username }}</p>
                    <p>E-mail : {{ user.email }}</p>
                    <p>Prénom : {{ user.first_name }}</p>
                    <p>Nom : {{ user.last_name }}</p>
                    <a class="btn btn-primary p-2 mt-4" href="{% url 'users:info' %}" role="button">Paramètres du compte</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row apropos">
            <h3 class="col-12 text-center favorite">Vos favoris</h3>
        </div>
        {% if favorite %}
            {% for fav in favorite %}
            <div class="row my-3 apropos">
                <div class="col-12 font-weight-bold underline">
                    <p>{{ fav.0 }}</p>
                </div>
                <div class="col-12">
                    <p>{{ fav.1 }}</p>
                </div>
                <div class="col-12">
                    <p class="font-weight-bold">Pour en savoir plus : <a target="_blank" href="{{ fav.2 }}">Wikipédia</a></p>
                </div>
                <div class="col-12 pb-3">
                    <a class="btn btn-primary p-2" href="{% url 'maps:del_favorite' title=fav.0 %}" role="button">Supprimer cet article</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="row apropos my-3">
                <p class="col-12 text-center favorite">Vous n'avez aucun favoris</p>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
